* {
    margin: 1;

}
header {
    font-family: 'Whisper', cursive;
    font-size: 25px;
    color: darkblue
}

body {
    color: azure;
    border-style: solid;
    border-color: black;

}

header {
    width: 100%;
    height: 200%;
    background-image: url("./img/Fence.jpg");
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
}

nav {
    margin-left: 4px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

nav a {
    color: greenyellow;

}


.Portfolio {
    width: 80px;
    height: 80px;

}

.page-section {
    font-family: 'Times New Roman', Times, serif;
    color: greenyellow;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    background-color: gray;
    border-style: solid;
    border-color: black;

}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: auto;
    justify-content: flex-start;
    background-color: gray;
    border-color: black;
    padding: 10px;
    margin: 10px;
}
